<div id="side">
  <div class="side-row">
    <%= link_to raw("&raquo; 修改信息"), edit_member_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 修改密码"), edit_password_member_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 订单列表") %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 通讯录"), continents_path %>
  </div>
</div>