<div id="side">
  <div class="side-row">
    <%= link_to raw("&raquo; 入会指南"), about_guide_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 会员权利"), about_benefit_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 申请表下载"), about_application_form_path %>
  </div>
</div>