<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="seminar-thesis-show">
    <h1><%= @seminar_thesis.title %></h1>
    <div class="content">
      <%=  %>
    </div>
  </div>
</div>
<%= render '/seminars/side' %>