<div id="side">
  <% if current_page? controller: 'topics', action: 'index' %>
  <div class="side-row current">
    <%= link_to raw("&raquo; 全部"), topics_path %>
  </div>
  <% else %>
  <div class="side-row">
    <%= link_to raw("&raquo; 全部"), topics_path %>
  </div>
  <% end %>
  <% Forum.sorted.each do |forum| %>
  <% if side_topic_current? forum %>
    <div class="side-row current">
      <%= link_to raw("&raquo; #{forum.name}"), forum %>
    </div>
  <% else %>
    <div class="side-row">
      <%= link_to raw("&raquo; #{forum.name}"), forum %>
    </div>
  <% end %>
  <% end %>
</div>