<div id="chaos-container" class="clearfix">
  <div class="container">
    <div id="chaos-error-page">
      <h1>错误 <span>403</span></h1>
      <h5>很抱歉，由于权限原因，您的访问已经被禁止。如有任何问题，请联系网站管理员。</h5>
      <p><%= link_to '点此', admin_root_path %> 返回首页</p>
    </div>
  </div>
</div>