<div id="chaos-container" class="clearfix">
  <div class="container">
    <div id="chaos-error-page">
      <h1>错误 <span>500</span></h1>
      <h5>很抱歉，服务器发生错误，请联系网站管理员。</h5>
      <p><%= link_to '点此', admin_root_path %> 返回首页</p>
    </div>
  </div>
</div>