<div id="side">
  <% if current_page? controller: 'resources', action: 'index' %>
  <div class="side-row current">
    <%= link_to raw("&raquo; 全部"), resources_path %>
  </div>
  <% else %>
  <div class="side-row">
    <%= link_to raw("&raquo; 全部"), resources_path %>
  </div>
  <% end %>
  <% ResourceCategory.sorted.each do |category| %>
  <% if side_resource_current? category %>
    <div class="side-row current">
      <%= link_to raw("&raquo; #{category.name}"), category %>
    </div>
  <% else %>
    <div class="side-row">
      <%= link_to raw("&raquo; #{category.name}"), category %>
    </div>
  <% end %>
  <% end %>
</div>