<div id="side">
  <div class="side-row">
    <%= link_to raw("&raquo; 全部"), resources_path %>
  </div>
  <% ResourceCategory.sorted.each do |category| %>
  <div class="side-row">
    <%= link_to raw "&raquo; #{category.name}" %>
  </div>
  <% end %>
  <%= side_favorites_tag %>
</div>