<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="link-list">
    <ul>
      <% @organization_members.each do |organization_member| %>
      <li>
        <%= link_to_unless organization_member.website.blank?, organization_member.chinese_name, "http://#{organization_member.website}", target: '_blank' %>
      </li>
      <% end %>
    </ul>
  </div>
</div>