<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="about-show">
    <h1>申请表下载</h1>
    <div class="content">
      <p>
      	点击下载：<a href="/assets/05/050baf8992feb76d0142a39b228fddaa.doc ">个人会员申请表</a></p>
      <p>
      	&nbsp;</p>
      <p>
      	点击下载：<a href="/assets/a6/a6f0ae1a4c8a8cb2c4f4e0a2747e1d4e.doc">单位会员申请表</a></p>
    </div>
  </div>
</div>
<%= render 'side' %>