<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="about-show">
    <h1>会员权利</h1>
    <div class="content">
      <p>
      	<u><strong>个人会员：</strong></u></p>
      <p>
      	1、参加会员代表大会，享有选举权、被选举权和表决权。</p>
      <p>
      	2、每年享受一定额度的免费赠书，通过学会网站自选图书。</p>
      <p>
      	3、每年免费获赠《世界汉语教学学会通讯》（印刷版）。</p>
      <p>
      	4、定期通过电子邮件收到《世界汉语教学学会通讯》，并享有在通讯上发表文章的优先权。</p>
      <p>
      	5、以会员优惠价参加&ldquo;国际汉语教学研讨会&rdquo;。</p>
      <p>
      	6、享有使用学会网站教学资源及参与网上交流的全部权限。</p>
      <p>
      	7、享有查询网上会员通讯录的权限。</p>
      <p>
      	8、优先参加学会组织的各项活动。</p>
      <p>
      	&nbsp;</p>
      <p>
      	<u><strong>单位会员：</strong></u></p>
      <p>
      	1、参加会员代表大会，享有选举权、被选举权和表决权。</p>
      <p>
      	2、每年享受一定额度的免费赠书，通过学会网站自选图书。</p>
      <p>
      	3、通过学会网站推介相关产品或项目。</p>
      <p>
      	4、定期通过电子邮件收到《世界汉语教学学会通讯》。</p>
      <p>
      	5、以会员优惠价参加&ldquo;国际汉语教学研讨会&rdquo;。</p>
      <p>
      	6、享有使用学会网站教学资源及参与网上交流的全部权限。</p>
      <p>
      	7、享有查询网上会员通讯录的权限。</p>
      <p>
      	8、优先参加学会组织的各项活动。</p>
      
    </div>
  </div>
</div>
<%= render 'side' %>