<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="about-show">
    <h1>联系方式</h1>
    <div class="content">
      <p>
      	电&nbsp; 话：86-10-58595938、86-10-58595999<br />
      	传&nbsp; 真：86-10-58595939<br />
      	网&nbsp; 址：<a href="http://www.shihan.org.cn">www.shihan.org.cn</a><br />
      	E-mail：<a href="mailto:shihanxuehui@hanban.org">shihanxuehui@hanban.org</a><br />
      	地&nbsp; 址：北京市西城区德胜门外大街129号A座302<br />
      	邮&nbsp; 编：100088</p>
    </div>
  </div>
</div>
<%= render 'side' %>