<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="about-show">
    <h1>世界汉语教学学会历届理事会名单</h1>
    <div class="content">
      <p style="text-align: center">
      	<span style="font-size: 12px">（按姓氏音序排列）</span></p>
      <p>
      	&nbsp;</p>
      <p>
      	<strong><span style="font-size:14px;">世界汉语教学学会第九届理事会名单<br />
      	</span></strong>会　长：许嘉璐<br />
      	副会长：白乐桑、崔希亮、古川裕、刘骏、马箭飞、马西尼<br />
      	秘书长：马箭飞（副会长兼）<br />
      	<br />
      	常务理事：<br />
      	　　白乐桑（法国）、崔希亮（中国）、古川裕（日本）、姜明宝（中国）、刘骏（美国）、骆小所（中国）、马箭飞（中国）、马西尼（意大利）、孟柱亿（韩国）、宁继鸣（中国）、施仲谋（中国）、许嘉璐（中国）、姚道中（美国）、袁博平（英国）、赵勇（美国）、赵金铭（中国）、朱小健（中国）</p>
      <p>
      	常务理事单位：<br />
      	　　澳大利亚中文教师联会、肯尼亚内罗毕大学孔子学院、英国伦敦大学教育学院孔子学院（原英国专长学校联合会）、智利中文教师协会</p>
      <p>
      	理事：<br />
      	　　希夏姆（埃及）、李夏德（奥地利）、顾安达（德国）、易福成（俄罗斯）、安雄（法国）、白乐桑（法国）、孟柱亿（韩国）、谷丰（加拿大）、白建华（美国）、刘骏（美国）、刘乐宁（美国）、姚道中（美国）、赵勇（美国）、朝吉勒玛（蒙古）、<br />
      	孙琳（葡萄牙）、古川裕（日本）、柯佩琦（瑞士）、周敏康（西班牙）、吴英成（新加坡）、姚载瑜（新西兰）、马西尼（意大利）、蔡昌杰（印度尼西亚）、袁博平（英国）、阮福禄（越南）、崔希亮（中国）、陈曦（中国）、丁安琪（中国）、姜明宝（中国）、李泉（中国）、刘富华（中国）、卢福波（中国）、骆小所（中国）、马箭飞（中国）、孟长勇（中国）、宁继鸣（中国）、沙平（中国）、施仲谋（中国）、吴勇毅（中国）、吴中伟（中国）、信世昌（中国）、许嘉璐（中国）、杨金成（中国）、袁礼（中国）、张建民（中国）、张晓慧（中国）、赵金铭（中国）、钟英华（中国）、朱小健（中国）</p>
      <p>
      	理事单位：<br />
      	　　阿根廷汉语教师协会、澳大利亚中文教师联会、德语区汉语教学协会、菲律宾华教中心、哈萨克斯坦国际哈中语言学院、柬埔寨王家孔子学院、捷克帕克斯基大学孔子学院、加拿大埃德蒙顿公立教育局、肯尼亚内罗毕大学孔子学院、挪威卑尔根孔子学院、日本立命馆大学孔子学院、泰国孔敬大学孔子学院、印度尼西亚阿拉扎大学孔子学院、英国伦敦大学教育学院孔子学院（原英国专长学校联合会）、智利中文教师协会、北京市中小学对外汉语教学研究会（中国）、商务印书馆（中国）</p>
      <p>
      	&nbsp;</p>
      <p>
      	<strong><span style="font-size: 14px; ">世界汉语教学学会第八届理事会<br />
      	</span></strong>会　长：许嘉璐<br />
      	副会长：白乐桑、崔希亮、古川裕、刘骏、马箭飞、马西尼<br />
      	秘书长：马箭飞（兼）</p>
      <p>
      	常务理事：<br />
      	　　白乐桑（法国）、北京国际汉语学院（中国）、崔希亮（中国）、古川裕（日本）、姜明宝（中国）、刘骏（美国）、骆小所（中国）、马箭飞（中国）、马西尼（意大利）、孟柱亿（韩国）、宁继鸣（中国）、施仲谋（中国香港）、许嘉璐（中国）、姚道中（美国）、英国专长学校联合会、袁博平（英国）、赵金铭（中国）、赵勇（美国）、朱小健（中国）</p>
      <p>
      	理&nbsp;&nbsp;&nbsp; 事：<br />
      	　　白建华（美国）、白乐桑（法国）、白特丽（秘鲁）、北京国际汉语学院（中国）、北京市中小学对外汉语教学研究会（中国）、蔡昌杰（印尼）、迟兰英（中国）、崔希亮（中国）、丁安琪（中国）、古川裕（日本）、谷丰（加拿大）、顾安达（德国）、加拿大埃德蒙顿公立教育局、姜明宝（中国）、柯佩琦（瑞士）、李泉（中国）、刘富华（中国）、刘骏（美国）、刘乐宁（美国）、卢福波（中国）、洛特菲&bull;谢比勒（突尼斯）、骆小所（中国）、马箭飞（中国）、马西尼（意大利）、孟长勇（中国）、孟柱亿（韩国）、宁继鸣（中国）、屈哨兵（中国）、日本立命馆孔子学院、阮福禄（越南）、沙平（中国）、商务印书馆（中国）、上海市甘泉外国语中学（中国）、上海市进才中学（中国）、施仲谋（中国香港）、孙琳（葡萄牙）、泰国孔敬大学孔子学院、吴英成（新加坡）、吴勇毅（中国）、吴中伟（中国）、希夏姆（埃及）、席格伦（澳大利亚）、信世昌（中国台湾）、许嘉璐（中国）、杨金成（中国）、姚道中（美国）、易福成（俄罗斯）、英国专长学校联合会、袁博平（英国）、袁礼（中国）、张建民（中国）、张晓慧（中国）、赵金铭（中国）、赵勇（美国）、郑通涛（中国）、钟英华（中国）、朱小健（中国）&nbsp;</p>
      <p>
      	<span style="font-size: 14px;"><b><br />
      	</b></span></p>
      <p>
      	&nbsp;</p>
      <p>
      	<strong><span style="font-size: 14px; ">世界汉语教学学会第七届理事会</span></strong></p>
      <p>
      	会　长：陆俭明<br />
      	副会长：白乐桑&nbsp; 、古川裕&nbsp;、柯彼德、马箭飞、孟柱亿、姚道中、袁博平、赵金铭&nbsp;&nbsp;<br />
      	秘书长：马箭飞&nbsp;&nbsp;<br />
      	常务理事：</p>
      <p>
      	　　　　白乐桑、&nbsp;崔希亮、&nbsp;古川裕、贾益民、柯彼德、李晓琪、刘乐宁、陆俭明、马箭飞</p>
      <p>
      	　　　　孟长勇&nbsp; 、孟柱亿、&nbsp;齐沪扬、施仲谋、石锋&nbsp;、田小琳、吴英成 、吴勇毅&nbsp;、姚道中</p>
      <p>
      	　　　　易福成&nbsp;、舆水优&nbsp; 、袁博平、赵金铭&nbsp;、周小兵</p>
      <p>
      	&nbsp;</p>
      <p>
      	&nbsp;</p>
      <p>
      	<strong><span style="font-size: 14px; ">世界汉语教学学会第六届理事会</span></strong></p>
      <p>
      	会　长：陆俭明（中国）&nbsp;<br />
      	副会长：柯彼德（德国） 、白乐桑（法国）、 赵智超（美国）、 舆水优（日本） 、佟秉正（英国）&nbsp;<br />
      	秘书长：崔希亮（中国）&nbsp;<br />
      	常务理事：&nbsp;<br />
      	　　　　柯彼德（德国）、谭傲霜（俄罗斯）（女）、白乐桑（法国）、孟柱亿（韩国）</p>
      <p>
      	　　　　屈承熹（美国）、姚道中（美国）、赵智超（美国）、陈文芷（日本）（女）</p>
      <p>
      	　　　　古川裕（日本）、舆水优（日本）、周清海（新加坡）、佟秉正（英国）、崔希亮（中国）</p>
      <p>
      	　　　　范开泰（中国）、陆俭明（中国）、吕必松（中国）、徐甲申（中国）、周小兵（中国）</p>
      <p>
      	　　　　朱立元（中国）、欧阳汝颖（中国香港）（女）、田小琳（中国香港）（女）</p>
      <p>
      	&nbsp;</p>
      <p>
      	&nbsp;</p>
      <p>
      	<strong><span style="font-size: 14px; ">世界汉语教学学会第五届理事会</span></strong></p>
      <p>
      	会　长：吕必松（中国）&nbsp;<br />
      	副会长：白乐桑（法国）、陈曼丽（美国）、柯彼德（德国）、佟秉正（英国）&nbsp;<br />
      	秘书长：张德鑫（中国）&nbsp;<br />
      	常务理事：&nbsp;<br />
      	　　　　白乐桑（法国）、陈曼丽（美国）、陈文芷（日本）、崔永华（中国）、范开泰（中国）</p>
      <p>
      	　　　　柯彼德（德国）、卢绍昌（新加坡）、吕必松（中国）、孟柱亿（韩国）　</p>
      <p>
      	　　　　欧阳汝颖（中国香港）、潭傲霜（俄罗斯）、田小琳（中国香港）、佟秉正（英国）</p>
      <p>
      	　　　　徐甲申（中国）、姚道中（美国）、舆水优（日本）、张德鑫（中国）</p>
      <p>
      	&nbsp;</p>
      <p>
      	&nbsp;</p>
      <p>
      	<strong><span style="font-size: 14px; ">世界汉语教学学会第四届理事会</span></strong></p>
      <p>
      	会　长：吕必松（中国）&nbsp;<br />
      	副会长：柯彼德（德国）、卢绍昌（新加坡）、佟秉正（英国）&nbsp;<br />
      	秘书长：张德鑫（中国）&nbsp;<br />
      	常务理事：&nbsp;<br />
      	　　　　白乐桑（法国）、陈仁凤（中国）、崔永华（中国）、柯彼德（德国）、黎天睦（美国）</p>
      <p>
      	　　　　黎杨莲妮（澳大利亚）、卢绍昌（新加坡）、吕必松（中国）、孟柱亿（韩国）</p>
      <p>
      	　　　　屈承熹（美国）、潭傲霜（俄罗斯）、田小琳（香港）、佟秉正（美国）、徐甲申（中国）</p>
      <p>
      	　　　　舆水优（日本） 、张德鑫（中国）&nbsp;<br />
      	名誉会长：吕叔湘（中国）&nbsp;<br />
      	顾　　问：黄金富、林焘、许嘉璐、杨庆华、张志公、周有光</p>
      <p>
      	&nbsp;</p>
      <p>
      	&nbsp;</p>
      <p>
      	<strong><span style="font-size: 14px; ">世界汉语教学学会第三届理事会</span></strong></p>
      <p>
      	会　长：吕必松（中国）&nbsp;<br />
      	副会长：黎天睦（美国）、卢绍昌（新加坡）、佟秉正（英国）&nbsp;<br />
      	秘书长：李潍籍（中国，1993年8月至1995年4月）、张德鑫（中国，1995年4月至1996年8月）&nbsp;<br />
      	常务理事：&nbsp;<br />
      	　　　　白乐桑（法国）、陈曼丽（女）（美国）、柯彼德（德国）、黎天睦（美国）</p>
      <p>
      	　　　　黎杨莲妮（女）（澳大利亚）、李潍籍（中国）、卢绍昌（新加坡）、吕必松（中国）</p>
      <p>
      	　　　　田小琳（香港）、佟秉正（英国）、舆水优（日本）、 张德鑫（中国）&nbsp;<br />
      	名誉会长：吕叔湘（中国）&nbsp;<br />
      	顾　　问：黄金富、 林焘 、杨庆华 、张志公</p>
      <p>
      	&nbsp;</p>
      <p>
      	<strong><span style="font-size: 14px">世界汉语教学学会第二届理事会</span></strong></p>
      <p>
      	会　长：朱德熙（中国） <br />
      	副会长：卢绍昌（新加坡）、吕必松（中国）、佟秉正（英国） <br />
      	秘书长：程棠（中国） <br />
      	常务理事：</p>
      <p>
      	　　　　胡百华（澳大利亚）、柯彼德（德国）、刘君若（美国）、舆水优（日本）、司格林（苏联）</p>
      <p>
      	　　　　缪锦安（香港）、卢绍昌（新加坡）、佟秉正（英国）、程棠（中国）、吕必松（中国）</p>
      <p>
      	　　　　朱德熙（中国） <br />
      	名誉会长：吕叔湘（中国） <br />
      	顾　　问：马悦然（瑞典）、王士元（美国）、张志公（中国）</p>
      <p>
      	&nbsp;</p>
      <p>
      	&nbsp;</p>
      <p>
      	<strong><span style="font-size: 14px; ">世界汉语教学学会第一届理事会</span></strong><br />
      	会　长：朱德熙（中国）<br />
      	副会长：吕必松（中国）&nbsp;<br />
      	秘书长：张亚军（中国）&nbsp;<br />
      	常务理事：</p>
      <p>
      	　　　　柯彼德（德国）、黎天睦（美国）、卢绍昌（新加坡） 吕必松（中国）、缪锦安（香港）</p>
      <p>
      	　　　　司格林（苏联）、舆水优（日本）、张亚军（中国）、朱德熙（中国）</p>
      <p>
      	&nbsp;</p>
      <p>
      	<span style="font-size: 14px;"><b><br />
      	</b></span></p>
    </div>
  </div>
</div>
<%= render 'side' %>