<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="about-show">
    <h1>世界汉语教学学会会员分布</h1>
    <div class="content">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;截止2013年8月，世界汉语教学学会会员总数已达4415，遍布全球69个国家和地区。会员中个人会员4187人，其中外国1354人，中国2833人；单位会员228个，其中外国62个，中国166个。</p>
    </div>
  </div>
</div>
<%= render 'side' %>