<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="about-show">
    <h1>常见问题</h1>
    <div class="content">
      <p>
      	1.在国外的会员如何缴纳会费？<br />
      	方便的话，您可以委托国内的亲友代为处理。学会秘书处的帐户也可以直接接收外币汇款，开户行的英文信息如下：<br />
      	BANK NAME:BANK OF BEIJING HUAAN BRANCH<br />
      	BANK ADD: NO.2 XIHUANGCHENGGEN NORTH STREET,XICHENG DISTRCT, BEIJING, 100034 CHINA<br />
      	Account Number: 010 9037 4400 1201 0905 6318<br />
      	Swift Code: BJCNCNBJ</p>
      <p>
      	&nbsp;</p>
      <p>
      	2.何时缴纳会费？<br />
      	按照学会章程，新会员的入会申请需报常务理事审批，审批通过后的新会员名单会在网上公布，同时新会员会收到email通知入会及缴费相关事宜。老会员在每年会费到期时，交纳下一年度会费。</p>
      <p>
      	&nbsp;</p>
      <p>
      	3.本地没有北京银行，如何办理汇款？<br />
      	银联的银行都能办理汇至北京银行的汇款。</p>
      <p>
      	&nbsp;</p>
      <p>
      	4.是否可以通过网上银行办理汇款？<br />
      	您可以通过网上银行办理汇款。</p>
      <p>
      	&nbsp;</p>
      <p>
      	5.会费汇出后何时能够查询是否到帐？<br />
      	北京银行一般每隔一至两周送一次汇款单，所以您的汇款在秘书处无法做到及时查询。汇款单收到后，秘书处会及时处理，给您发送email通知。如无特殊要求，秘书处只默认为单位会员寄送发票。</p>
      <p>
      	&nbsp;</p>
      <p>
      	6.会费标准是多少？<br />
      	个人会员：每人每年度缴纳200.00元人民币。有效期自缴纳之日起计算。<br />
      	单位会员：营利性单位每年度缴纳会费5000.00元人民币；非营利单位每年度缴纳会费500.00元人民币。有效期自缴纳之日起计算。</p>
      <p>
      	&nbsp;</p>
      <p>
      	7.会员单位中的个人是否都能享受个人会员的权利？<br />
      	一个单位成为单位会员并不代表这个单位里的每个个人自动成为个人会员，享受个人会员权利。</p>
    </div>
  </div>
</div>
<%= render 'side' %>