<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="about-show">
    <h1>入会指南</h1>
    <div class="content">
      <p>
      	凡拥护学会章程，从事汉语教学和推广工作的个人和团体，均可以申请加入世界汉语教学学会。<br />
      	<strong>申请程序：</strong><br />
      	<strong>1、</strong>&nbsp;请详细填写入会申请表。表格可以从学会网站下载（<a href="/society/application_form">点击这里</a>）。单位会员请将附有单位负责人签字盖章的表格传真或邮寄至秘书处。<br />
      	<strong>2、</strong>&nbsp;申请通过后，秘书处将通知会员完成缴纳会费等相关事宜。<br />
      	<strong>会费标准：</strong>&nbsp;<br />
      	个人会费：每人每年度缴纳200.00元人民币。有效期自缴纳之日起计算。</p>
      <p>
      	单位会费：营利性单位每年度缴纳会费5000.00元人民币；非营利单位每年度缴纳会费500.00元人民币。有效期自缴纳之日起计算。<br />
      	<strong>账户信息：</strong><br />
      	<strong>开户银行：</strong>北京银行华安支行<br />
      	<strong>户名：</strong>世界汉语教学学会<br />
      	<strong>账号：</strong>010 9037 4400 1201 0905 6318</p>
      <p>
      	&nbsp;(请务必在汇款凭证备注中标明会员姓名；中国境内凡属银联的银行均可办理汇至北京银行的汇款；该账户可接受美元汇款，按实时汇率折算即可)</p>
      <p>
      	&nbsp;</p>
      <p>
      	BANK NAME:BANK OF BEIJING&nbsp; HUAAN BRANCH<br />
      	BANK ADD: NO.2 XIHUANGCHENGGEN NORTH STREET,XICHENG DISTRCT, BEIJING, 100034 CHINA<br />
      	Account Number: 010 9037 4400 1201 0905 6318<br />
      	Swift Code: BJCNCNBJ</p>
      <p>
      	&nbsp;</p>
      <p>
      	<strong>联系方式：</strong></p>
      <p>
      	<strong>电话: </strong>+86-10-58595938/5999&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p>
      	<strong>传真:</strong> +86-10-58595939<br />
      	<strong>Email: </strong><a href="mailto:shihanxuehui@hanban.org">shihanxuehui@hanban.org</a><br />
      	<strong>通讯地址：</strong>北京德胜门外大街129号德胜尚城A座302（100088）</p>
    </div>
  </div>
</div>
<%= render 'side' %>