<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="about-show">
    <h1>世界汉语教学学会简介</h1>
    <div class="content">
      <p>
      	■<strong> 概况</strong></p>
      <p>
      	&nbsp; &nbsp;&nbsp;世界汉语教学学会是经中国政府批准，成立于1987年的非营利性国际民间学术团体。2011年10月，与联合国教科文组织建立享有咨询地位的合作关系。会员主要由世界各地从事汉语教学、研究和推广的人士及相关机构组成。学会现有会员4415名，遍布全球69个国家和地区。学会秘书处设在孔子学院总部/国家汉办。</p>
      <p>
      	&nbsp; &nbsp; 学会的宗旨是促进国际汉语教学、研究和推广，加强世界各地汉语教学与研究工作者之间、机构之间的联系，增进各国人民之间的相互了解和友谊。学会在国家汉办大力支持下，组织参与汉语教学、研究和推广等学术活动，推动国际汉语教学交流与合作，为国际汉语教育提供指导和服务。</p>
      <p>
      	<strong>■ 国际汉语教学研讨会及其他主要活动</strong></p>
      <p>
      	&nbsp;&nbsp;&nbsp; 从1987年至今，学会在北京、上海、西安、德国汉诺威等地成功举办了十一届国际汉语教学研讨会。<br />
      	&nbsp;&nbsp;&nbsp; 学会每年不定期组织汉语教学专题研讨会；为会员提供信息咨询和交流；组织编写、认定和推介教材；提供师资培训；赠送汉语教材及汉语教学相关读物；组织会员优先参加国家汉办/孔子学院总部的相关项目。<br />
      	<br />
      	<strong>■会刊、通讯、论文选、网站<br />
      	</strong>&nbsp;&nbsp;&nbsp; 会刊《世界汉语教学》，目前已发行至世界许多国家和地区，受到汉语教学界的欢迎和重视，成为汉语教学和研究的重要园地。<br />
      	&nbsp;&nbsp;&nbsp; 电子刊物《世界汉语教学学会通讯》，汇集各国、各地区汉语教学最新动态和发展情况，成为业内人士交流活动信息和教学经验的新平台；通过学会网站发布，并发送至会员电子信箱。<br />
      	&nbsp;&nbsp;&nbsp; 到目前为止，历届国际汉语教学研讨会后出版论文选。<br />
      	&nbsp;&nbsp;&nbsp; 学会设有网站，为会员提供汉语教学的各类学术信息及教学资源。网址是<a href="http://www.shihan.org.cn">www.shihan.org.cn</a>。<br />
      	<br />
      	<strong>■会员及入会程序</strong><br />
      	&nbsp;&nbsp;&nbsp; 凡赞成学会章程，在各国、各地区从事或热心于汉语教学和研究、汉语国际推广的人士和相关机构，都可以申请加入世界汉语教学学会。学会会员均可参加本会组织的各种学术活动；享受学会提供的各项服务。<br />
      	&nbsp;&nbsp;&nbsp; 会员有按时缴纳会费的义务。个人会员年度会费200元人民币。营利性单位会员年度会费5000元人民币；非营利性单位会员年度会费500元人民币。<br />
      	&nbsp;&nbsp;&nbsp; 申请人填写入会申请表，个人会员可以在线填写或从学会网站下载表格，单位会员邮寄经本单位负责人签字盖章的申请表原件。<br />
      	&nbsp;&nbsp;&nbsp; 会员资格审核完成后，秘书处通知申请人，完成缴纳会费等相关手续，发送会员通知书。<br />
      	<br />
      	<strong>■ 秘书处联系方式</strong><br />
      	&nbsp;&nbsp;&nbsp; 电 话：86-10-58595938，58595999<br />
      	&nbsp;&nbsp;&nbsp; 传 真：86-10-58595939<br />
      	&nbsp;&nbsp;&nbsp; 网 址：www.shihan.org.cn<br />
      	&nbsp;&nbsp;&nbsp; E-mail：<a href="mailto:shihanxuehui@hanban.org">shihanxuehui@hanban.org</a><br />
      	&nbsp;&nbsp;&nbsp; 地 址：北京市西城区德胜门外大街129号302 邮编：100088<br />
      	<br />
      	&nbsp;</p>
    </div>
  </div>
</div>
<%= render 'side' %>