<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="about-show">
    <h1>《世界汉语教学》会刊</h1>
    <div class="content">
      <p>
      	&nbsp;&nbsp;&nbsp; 世界汉语教学学会成立的同时，即于1987年9月，正式创刊《世界汉语教学》杂志（季刊）作为学会的会刊。该刊设有汉语教学研究、语言对比研究、语言理论研究等栏目，形式多样，信息量大，是进行汉语教学和研究及学术交流的重要园地，现为中国&ldquo;语言学/汉语/中国少数民族语言&rdquo;类核心期刊，已发行至世界许多国家和地区，受到汉语教学界的欢迎和重视。根据1996年8月召开的世界汉语教学学会第四届理事会第一次常务理事会议的决议，由世界各国各地区知名学者组成的《世界汉语教学》编委会负责杂志的审稿和组稿工作。</p>
      <p>
      	&nbsp;&nbsp;&nbsp; <span style="color: #00f"><a href="/publications/1/volumes">点击进入摘要浏览</a></span></p>
    </div>
  </div>
</div>
<%= render 'side' %>