<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="about-show">
    <h1>世界汉语教学学会章程</h1>
    <div class="content">
      <p style="text-align: center">
      	<br />
      	第一章 总则</p>
      <p>
      	<br />
      	第一条 本会定名为&ldquo;世界汉语教学学会&rdquo;，英文译名为 &ldquo;International Society for Chinese Language Teaching （ISCLT）。<br />
      	第二条 本会是由世界各地从事汉语教学、研究和推广的个人和单位等自愿组成的非营利性学术团体。<br />
      	第三条 本会的宗旨是：遵守中华人民共和国宪法、法律、法规和国家政策，遵守社会道德风尚；促进国际汉语教学、研究和推广；加强世界各地汉语教学与研究工作者之间、机构之间的联系；增进各国人民之间的相互了解和友谊，为维护世界和平贡献力量。<br />
      	第四条 本会社团登记管理机关是中华人民共和国民政部；业务主管单位是中华人民共和国教育部，具体接受国家汉办/孔子学院总部业务指导。<br />
      	第五条 本会会址在中国北京。</p>
      <p style="text-align: center">
      	<br />
      	第二章 业务范围</p>
      <p>
      	<br />
      	第六条 本会业务范围：<br />
      	（一）组织国际汉语教学综合性、专题性学术活动；<br />
      	（二）出版会刊；<br />
      	（三）编辑汉语国际推广信息通讯；<br />
      	（四）组织开展国际汉语教学的理论研究和应用研究、教材编写与出版、教师培训、教学质量评价、人员交流、教学图书展览等方面的国际合作；<br />
      	（五）设立学会网站，面向世界开展汉语国际推广的咨询业务以及职业发展服务；<br />
      	（六）其它有关专项工作。</p>
      <p style="text-align: center">
      	<br />
      	第三章 会员</p>
      <p>
      	<br />
      	第七条 本会会员分为个人会员和单位会员。<br />
      	第八条 申请加入本会的会员，须具备下列条件：<br />
      	（一）拥护本会章程；<br />
      	（二）有加入本会的意愿；<br />
      	（三）本会业务范围内能发挥一定作用、从事汉语教学、研究与推广的个人和专门机构。<br />
      	第九条 入会程序：<br />
      	（一）通过邮寄或互联网等有效手段提交申请书；<br />
      	（二）本会秘书处依据第八条之规定审批，报理事会备案核查；<br />
      	（三）寄发正式入会通知书，按单位会员或个人会员编入《世汉学会会员通讯录》。<br />
      	第十条 会员权利：<br />
      	（一）会员代表大会代表的选举权、被选举权和表决权；<br />
      	（二）参加本会的活动；<br />
      	（三）获得本会各项服务的优先权；<br />
      	（四）对本会工作的监督权和批评建议权；<br />
      	（五）入会自愿、退会自由。<br />
      	第十一条 会员义务：<br />
      	（一）执行和维护本会的决议；<br />
      	（二）维护本会的合法权益；<br />
      	（三）完成本会交办的工作；<br />
      	（四）按规定缴纳会费；<br />
      	（五）向本会提供有关教学研究与汉语国际推广的信息、资料和稿件。<br />
      	第十二条 会员退会应书面通知本会，并交回正式入会通知书。<br />
      	第十三条 会员如有严重违反本章程的行为，经常务理事会表决通过，予以除名。</p>
      <p style="text-align: center">
      	<br />
      	第四章 组织机构和负责人产生、罢免</p>
      <p>
      	<br />
      	第十四条 本会最高权力机构是会员代表大会，其职权是：<br />
      	（一）制定和修改章程；<br />
      	（二）选举和罢免理事；<br />
      	（三）审议理事会工作报告和财务报告；<br />
      	（四）决定终止事宜；<br />
      	（五）决定其他重要事项。<br />
      	第十五条 会员代表大会须由2/3以上的会员代表出席方能召开，其决议须经到会会员代表半数以上表决通过方能生效。<br />
      	第十六条 会员代表大会每届3年。因特殊情况需提前或延期换届的，须经理事会表决通过，报教育部审查并经民政部批准同意。但延期换届最长不超过1年。<br />
      	第十七条 理事会是会员代表大会的执行机构，在闭会期间领导本会开展日常工作，每届任期3年，对会员代表大会负责。<br />
      	第十八条 理事会的职权是：<br />
      	（一）执行会员代表大会的决议；<br />
      	（二）选举和罢免会长、副会长、秘书长、常务理事；<br />
      	（三）筹备召开会员代表大会； <br />
      	（四）向会员代表大会报告工作和财务状况；<br />
      	（五）决定设立办事机构、分支机构、代表机构和实体机构；<br />
      	（六）制订内部管理制度；<br />
      	（七）决定其他重要事项。<br />
      	第十九条 理事会须由2/3以上理事出席方为有效，其决议须经与会理事2/3以上表决通过方能生效。<br />
      	第二十条 理事会每年至少召开一次会议，情况特殊时，也可采用通讯形式召开。<br />
      	第二十一条 本会设立常务理事会。常务理事会由理事会选举产生，常务理事人数为不超过理事人数1/3；在理事会闭会期间行使第十八条第一、三、五、六项的职权；决定会员的吸收或除名等事宜，对理事会负责。<br />
      	第二十二条 常务理事会须由2/3以上常务理事出席方为有效，其决议须经到会常务理事2/3以上表决通过方能生效。<br />
      	第二十三条 常务理事会每届至少半年召开一次会议。情况特殊时，可采用通讯形式。<br />
      	第二十四条 本会会长、副会长、秘书长由本会业务主管单位提名、选举产生，并须具备下列条件：<br />
      	（一） 在本会业务领域内有较大影响；<br />
      	（二） 最高任职年龄不超过70周岁，秘书长为专职；<br />
      	（三） 身体健康，能坚持正常工作；<br />
      	（四） 未受过剥夺政治权利的刑事处罚的；<br />
      	（五） 具有完全民事行为能力。 <br />
      	第二十五条 本会会长、副会长、秘书长如超过最高任职年龄的，须经理事会或常务理事会表决通过，报教育部审查并民政部批准同意后，方可任职。推选境外人士担任副会长，须由教育部按有关规定审批，并报民政部备案。在境外设立代表机构，须报教育部和民政部批准。 <br />
      	第二十六条 本会会长、副会长、秘书长均为义务职，每届任期3年，任期最长不得超过两届，因特殊情况需延长任期的，须经理事会2/3以上理事表决通过，报教育部审查并民政部批准后，方可任职。<br />
      	第二十七条 本会法定代表人一般应由会长担任，如因特殊情况需由副会长或秘书长担任法定代表人，应报教育部审查并经民政部批准同意后，方可担任。本会法定代表人不兼任其他团体的法定代表人。<br />
      	第二十八条 本会会长行使下列职权：<br />
      	（一）召集和主持常务理事会；<br />
      	（二）检查和督促会员代表大会、理事会、常务理事会决议的落实情况；<br />
      	（三）代表本会签署有关重要文件；<br />
      	（四）会长缺席时，指定副会长代行职权；<br />
      	（五）可处置紧急或突发事件，而后由理事会或会员代表大会依照有关规定审查备案。<br />
      	（六）决定任命副秘书长。<br />
      	第二十九条 本会秘书长行使下列职权：<br />
      	（一）主持秘书处日常工作； <br />
      	（二）组织实施年度工作计划； <br />
      	（三）推荐副秘书长；<br />
      	（四）决定本会专职、兼职工作人员的聘用。<br />
      	第三十条 秘书处是本会常设办事机关。</p>
      <p style="text-align: center">
      	<br />
      	第五章 资产管理、使用原则</p>
      <p>
      	<br />
      	第三十一条 经费来源：<br />
      	（一）会费; <br />
      	（二）捐赠;<br />
      	（三）在核准的业务范围内开展活动或服务的收入;<br />
      	（四）其他合法收入。<br />
      	第三十二条 本会按照国家有关规定收取会费。<br />
      	第三十三条 本会经费必须用于本章程规定的业务范围和事业的发展，不得在会员中分配。<br />
      	第三十四条 本会建立严格的财务管理制度，保证会计资料合法、真实、准确、完整。 <br />
      	第三十五条 本会配备具有专业资格的会计人员。会计不得兼任出纳。会计人员必须进行会计核算，实行会计监督。会计人员调动工作或离职时，必须与接管人员办清交接手续。 <br />
      	第三十六条 本会的资产管理必须执行国家规定，接受会员代表大会和财政部门的监督。资产来源必须接受审计机关的监督。<br />
      	第三十七条 本会换届或更换法定代表人之前必须接受民政部和教育部的财务审计。<br />
      	第三十八条 本会的资产，任何单位、个人不得侵占、私分和挪用。<br />
      	第三十九条 本会专职工作人员的工资和保险、福利待遇，参照国家对事业单位的有关规定执行。</p>
      <p style="text-align: center">
      	<br />
      	第六章 章程的修改程序</p>
      <p>
      	<br />
      	第四十条 对本会章程进行修改，须经理事会表决通过后报会员代表大会审议。<br />
      	第四十一条 本会修改的章程，须在会员代表大会通过后15日内，报请教育部审查同意，并报民政部核准后生效。</p>
      <p style="text-align: center">
      	<br />
      	第七章 终止程序及终止后的财产处理</p>
      <p>
      	<br />
      	第四十二条 本会完成宗旨或自行解散或由于分立、合并等原因需要注销的，由理事会提出终止动议。<br />
      	第四十三条 本会终止动议须经会员代表大会表决通过，并报教育部审查同意。<br />
      	第四十四条 本会终止前，须在教育部及有关机关指导下成立清算组织，清理债权债务，处理善后事宜。清算期间，不开展清算以外的活动。<br />
      	第四十五条 本会经民政部办理注销登记手续后即为终止。<br />
      	第四十六条 本会终止后的剩余财产，在教育部和民政部的监督下，按照国家有关规定，用于发展与本会宗旨相关的事业。</p>
      <p style="text-align: center">
      	<br />
      	第八章 附则</p>
      <p>
      	<br />
      	第四十七条 本章程经2008年12月15日会员代表大会表决通过。<br />
      	第四十八条 本章程的解释权属本会理事会。<br />
      	第四十九条 本章程自民政部2009年4月16日核准之日起生效。<br />
      	<br />
      	<br />
      	<br />
      </p>
    </div>
  </div>
</div>
<%= render 'side' %>