<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="seminar-show">
    <h1><%= @seminar.name %></h1>
    <div class="introduction"><%= raw @seminar.introduction %></div>
  </div>
</div>
<%= render 'side' %>